#text01 {
  color: #545454;
  font-family: 'Heebo', sans-serif;
  letter-spacing: -0.175rem;
  width: 100%;
  font-size: 2.75em;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

#text02 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #545454 !important;
  font-family: 'Heebo', sans-serif;
  letter-spacing: -0.075rem;
  width: 100%;
  font-size: 1.25em;
  line-height: 1.75;
  font-weight: 300;
}

#text03 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #545454;
  font-family: 'Heebo', sans-serif;
  letter-spacing: -0.025rem;
  width: 100%;
  font-size: 1em;
  line-height: 1.875;
  font-weight: 300;
}

#icons01 {
  font-size: 1.75em;
  width: calc(100% + 1.25rem);
  margin-left: -.625rem;
  margin-top: 1.75rem;
}

#icons01 li {
  margin: .625rem;
  display: inline;
}

a {
  color: #545454;
  transition: 0.3s;
  text-decoration: none;
}

a:hover {
  color: #00D1FF;
}

#column1 {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 15rem;
}

#imageContainer {
  margin-right: 5rem;
}

img {
  height: 150px;
  width: 150px;
}

#project {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  vertical-align: top;
  padding-left: 1rem;
}

#cardDiv {
  margin-right: 1rem;
  margin-left: 1rem;
}

#main {
  display: flex;
}

p {
  margin-right: 1rem;
}

#searchContainer {
  margin: 20px;
  padding: 10px;
}

#searchInput {
  font-size: large;
  font-family: Quicksand,sans-serif;
  height: 2rem;
  width: 5rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid black;
  transition: width 0.4s ease-in-out;
}

#searchInput:focus {
  height: 2rem;
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid black;
}

@media only screen and (max-width:60rem) {
  #main {
    display: inline-block;
    overflow-y: scroll;
  }

  #project {
    display: flex;
    flex-wrap: wrap;
    margin-left: .5rem;
  }

  #Projects {
    overflow-y: auto;
  }

  #text {
    margin-right: 5rem;
  }

  #Text {
    margin-left: 2rem;
  }

  #column1 {
    padding-left: 0rem;
  }

  #cardDiv {
    margin-right: 5rem;
  }

  #searchInput:focus {
    height: 2rem;
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid black;
  }

  html, body {max-width: 100%; overflow-x: hidden; overflow-y: scroll;}
}

ol, ul {
  list-style: none;
}